.Cares {
    padding-bottom: 4rem;
}

.wrapperCares {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 2rem;
}

.caresContent {
    font-size: 20px;
}

.caresContent p {
    max-width: 40ch;
}

.caresContent span {
    color: var(--blue);
}

.wrapperCares img {
    display: flex;
    width: 35%;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .wrapperCares {
        flex-direction: column;
    }
    .wrapperCares img {
        width: 100%;
    }
    .caresContent {
        text-align: center;
    }
}